.main-container {
  background-color: #eae6e8; /* Grigio chiaro come in figura */
  padding: 30px;
  width: fit-content;
  font-family: Arial, sans-serif;
}

span {
  color: red; /* Colora la parola 'app' */
}