.box-arancione {
  background-color: #eda87c; /* Arancione chiaro */
  border: 2px solid #d88656; /* Bordo un po' più scuro */
  padding: 20px;
  margin-top: 10px;
}

span {
  color: #3b82f6; /* Colora la parola 'secondo' di blu */
}